body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    max-width: 800px;
    margin: auto;
    line-height: 1.5;
    padding: 20px;
    font-size: 18px;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .group-card {
    width: 33.33%;
    float: left;
    text-align: center;
  }
  
  .clearfix {
    clear: both;
  }
 
  .navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 120%;
    margin-right: 20px;
  }
  .navbar form {
    display: inline-block;
    margin-right: 50px;
  }
  
    
  .navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: inline-block;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    margin-right: 50px;
  }
  
  .navbar button {
    background-color: darkblue;
    color: white;
  }
  
  
  
  