
/* Centrer le contenu de la page */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
.navbar {
  background-color: black;
  position: fixed;
  top: 0;
  width: 120%;
  margin-right: 20px;
}
.navbar form {
  display: inline-block;
  margin-right: 50px;
}

  
.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 25px;
  background-color: transparent;
  margin-right: 50px;
}

.navbar button {
  background-color: grey;
  color: white;
}

  
  
  
  
  
  