body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    max-width: 800px;
    margin: auto;
    line-height: 1.5;
    padding: 20px;
    font-size: 18px;
  }
  .navbar {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .group-card {
    width: 33.33%;
    float: left;
    text-align: center;
  }
  
  .clearfix {
    clear: both;
  }
  
  
  
  

  

  
  
  
  