<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Groupie-tracker</title>
  <link rel="stylesheet" href="Static/CSS/stylesConcert.css">
</head>
<body>
<h1>Retrouvez vos artistes en Concert ! </h1>
  <form>

    {{ range $concertpage := . }}
    {{ $concertpage.Groupes.Nom_du_groupe }}
    <img src="{{ $concertpage.Groupes.Image }}" alt="" srcset="">
    {{ end }}    
    {{ range $concertrelation := .}}
    {{ $concertrelation.Relations.Dateslocations }}
    {{ end}}
  </form>  
</body>
</html>

