<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Groupie-tracker</title>
  <link rel="stylesheet" href="Static/CSS/stylesConcert.css">
  <link rel="stylesheet" href="Static/CSS/stylesHome.css">

</head>
<body>
  <header>
    <nav class="navbar">
      <a href="/">
        <h1 class="header-title">GroupieTracker</h1>
      </a>
      <form action="/recherche" method="post">
        <input autofocus class="search-input" placeholder="Rechercher" type="text" name="query">
        <button type="submit">search</button>
      </form>
      <a href="/concert">Concerts</a>
    </nav>
</header>
  <form>

    {{ range $concertpage := . }}
    
    <img src="{{ $concertpage.Groupes.Image }}" alt="" srcset="">
    {{ $concertpage.Groupes.Nom_du_groupe }}    
    {{ end }}    
    {{ range $concertrelation := .}}
    {{ $concertrelation.Relations.Dateslocations }}
    {{ end}}
  </form>  
</body>
</html>

