<!DOCTYPE html>
<html>
  <head>
        <title>Groupie-tracker</title>
        <link rel="stylesheet" href="/Static/CSS/stylesHome.css">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/">
          <h1 class="header-title">GroupieTracker</h1>
        </a>
        <form action="/recherche" method="post">
          <input autofocus class="search-input" placeholder="Rechercher" type="text" name="query">
          <button type="submit">search</button>
        </form>
        <a class="concert-button" href="/concert">Concerts</a>
      </nav>
    </header>
    <main>
      {{ range $index, $homepage := . }}
        <div class="group-card">
          <p> {{ $homepage.Nom_du_groupe }} </p>
          <img class="groupimage" src="{{ $homepage.Image }}" alt="" srcset="">
        </div>
        {{ if eq $index 2 }}
          <div class="clearfix"></div>
        {{ end }}
      {{ end }}  
    </main>       
  </body> 
</html>